.idk{
    text-align: center;
    height:200px;
    background-color: rgb(42, 255, 138);
    font-size:36px;
}
body, html {
    height: 100%;
  }
  
  .parallax1 {
    
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100%;
}

.link{
  background-color: rgb(204, 77, 255, 0.5); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

}

.try{
  display: flex;
  justify-content: center;
}
